@model Book.Models.UserModel
@{
    ViewData["Title"] = "SignUp";
    Layout = "";
}

@*<div class="row">

        <div class="col-md-4">

            <h2>Sign Up</h2>

            <form method="post" enctype="multipart/form-data">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Dob" class="control-label"></label>
                    <input asp-for="Dob" class="form-control" placeholder="Date of Birth" />
                    <span asp-validation-for="Dob" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" placeholder="Address" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" placeholder="Phone" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <label>Upload Profile Picure</label>
                    <input type="file" id="file" name="file" class="form-control" />

                </div>

                <div class="form-group">
                    <input type="submit" value="Sign Up" class="btn btn-default" />
                </div>

            </form>
        </div>
    </div>
*@


<!DOCTYPE html>
<html lang="en">
<head>

    <title>Pizza Order</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700" rel="stylesheet">
    <link rel="stylesheet" href="~/pizzaorder/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/pizzaorder/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/pizzaorder/css/owl.carousel.css" />
    <link rel="stylesheet" href="~/pizzaorder/css/animate.css" />
    <link rel="stylesheet" href="~/pizzaorder/css/style.css" />


    <title>Food Blog - Web Template</title>
    <meta charset="UTF-8">
    <meta name="description" content="Food Blog Web Template">
    <meta name="keywords" content="food, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="shortcut icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/owl.carousel.css" />
    <link rel="stylesheet" href="css/animate.css" />
    <link rel="stylesheet" href="css/style.css" />
    <style>
        .login-block {
            background: #DE6262;
            background: black;         
            width: 100%;
            padding: 50px 0;
        }

        .banner-sec {
            background-size: cover;
            min-height: 500px;
            border-radius: 0 10px 10px 0;
            padding: 0;
        }

        .login-sec {
            padding: 50px 30px;
            position: relative;
            background: #fff;
            border-radius: 10px 0px 0px 10px;
        }

            .login-sec .copy-text {
                position: absolute;
                width: 80%;
                bottom: 20px;
                font-size: 13px;
                text-align: center;
            }

                .login-sec .copy-text i {
                    color: #FEB58A;
                }

                .login-sec .copy-text a {
                    color: #E36262;
                }

            .login-sec h2 {
                margin-bottom: 30px;
                font-weight: 800;
                font-size: 30px;
                color: #DE6262;
            }

                .login-sec h2:after {
                    content: " ";
                    width: 100px;
                    height: 5px;
                    background: #FEB58A;
                    display: block;
                    margin-top: 20px;
                    border-radius: 3px;
                    margin-left: auto;
                    margin-right: auto
                }

        .btn-login {
            background: #DE6262;
            color: #fff;
            font-weight: 600;
        }

        .banner-text {
            width: 70%;
            position: absolute;
            bottom: 40px;
            padding-left: 20px;
        }

            .banner-text h2 {
                color: #fff;
                font-weight: 600;
            }

                .banner-text h2:after {
                    content: " ";
                    width: 100px;
                    height: 5px;
                    background: #FFF;
                    display: block;
                    margin-top: 20px;
                    border-radius: 3px;
                }

            .banner-text p {
                color: #fff;
            }

        .crtone {
            margin-top: 30px;
        }
    </style>
</head>
<body>

    <section class="login-block">
        <div class="container">
            <div class="row">

                <div class="col-md-8 banner-sec">
                    <section class="hero-section">
                        <div class="hero-slider owl-carousel">
                            <div class="hero-slide-item set-bg" data-setbg="/pizzaorder/img/slider-bg-1.png">
                                <div class="hs-text">
                                    <h2 class="hs-title-1"><span>Bringing people</span></h2>
                                    <h2 class="hs-title-2"><span>together</span></h2>
                                    <h2 class="hs-title-3"><span>with a slice of tasty pizza!</span></h2>
                                </div>
                            </div>
                            <div class="hero-slide-item set-bg" data-setbg="/pizzaorder/img/slider-bg-3.png">
                                <div class="hs-text">
                                    <h2 class="hs-title-1"><span>Free Pizza</span></h2>
                                    <h2 class="hs-title-2"><span>Delivery</span></h2>
                                    <h2 class="hs-title-3"><span>we care about our customers!</span></h2>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="col-md-4  login-sec">

                    <h2 class="text-center">Sign Up</h2>
                   
                    <form method="post" class="login-form" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Dob" class="control-label"></label>
                            <input asp-for="Dob" class="form-control" placeholder="Date of Birth" />
                            <span asp-validation-for="Dob" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" placeholder="Address" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" placeholder="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Phone" class="control-label"></label>
                            <input asp-for="Phone" class="form-control" placeholder="Phone" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>



                        <div class="form-group">
                            <label>Upload Profile Picure</label>
                            <input type="file" id="file" name="file" class="form-control" />

                        </div>
                        <div class="form-check">
                            <button type="submit" class="btn btn-login float-right">Sign-Up</button>
                        </div>
        
                    </form>

                </div>
            </div>
        </div>
    </section>



    <!--====== Javascripts & Jquery ======-->
    <script src="/pizzaorder/js/jquery-3.2.1.min.js"></script>
    <script src="/pizzaorder/js/owl.carousel.min.js"></script>
    <script src="/pizzaorder/js/main.js"></script>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
